@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Coding Challenge 1

   Author: Justin Mccutchen
   Date:   11/28/22
   
   Filename: code4-1_back.css

*/
/* body */

figure{
    padding: 20px;
    border: 20px ridge rgb(52, 52, 180);
    background:rgba(52,52,180,0.3) url(ws.png);
    background-position: bottom right;
    background-size: 45%;
    background-repeat: no-repeat;
    box-shadow: 5px 10px 15px black;

}
figcaption{
    font-size: 1.8em;
    text-align: center;
    border-bottom: 2px solid rgb(52, 52, 180);
}